<footer class="footer">
  <div class="container">
    <div class="link-list">
      <ul class="list">
        <li class="list-item">
          <div class="content-asset">
            <h2 class="link-title">About Company</h2>
            <ul class="nav-list">
              <li class="nav-item">
                <a class="nav-link" target="_blank">www.codeokk.com</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" target="_blank">www.codeokk.com</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" target="_blank">www.codeokk.com</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" target="_blank">www.codeokk.com</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" target="_blank">www.codeokk.com</a>
              </li>
            </ul>
          </div>
        </li>
        <li class="list-item">
          <div class="content-asset">
            <h2 class="link-title">Useful Links</h2>
            <ul class="nav-list">
              <li class="nav-item">
                <a class="nav-link">www.codeokk.com</a>
              </li>
              <li class="nav-item">
                <a class="nav-link">www.codeokk.com</a>
              </li>
              <li class="nav-item">
                <a class="nav-link">www.codeokk.com</a>
              </li>
              <li class="nav-item">
                <a class="nav-link">www.codeokk.com</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" target="_blank">www.codeokk.com</a>
              </li>
            </ul>
          </div>
        </li>
        <li class="list-item">
          <div class="content-asset">
            <h2 class="link-title">Affiliate With Us</h2>
            <ul class="nav-list">
              <li class="nav-item">
                <a class="nav-link">www.codeokk.com</a>
              </li>
              <li class="nav-item">
                <a class="nav-link">www.codeokk.com</a>
              </li>
              <li class="nav-item">
                <a class="nav-link">www.codeokk.com</a>
              </li>
              <li class="nav-item">
                <a class="nav-link">www.codeokk.com</a>
              </li>
              <li class="nav-item">
                <a class="nav-link">www.codeokk.com</a>
              </li>
              <!-- <li class="nav-item">
                <a class="nav-link">www.codeokk.com</a>
              </li> -->
            </ul>
          </div>
        </li>
        <li class="list-item last-list-item">
          <div class="content-asset">
            <h2 class="last-link-title">
              Subscribe for New Stuffs & Special Offers
            </h2>
            <span class="last-link-desc">We promise not to spam you!</span>
            <form action="" id="newsletterFormId">
              <div class="form signup-form">
                <div class="form-list">
                  <div class="form-item full-width">
                    <div class="input-wrap">
                      <input
                        type="string"
                        class="inputDefault alpha"
                        placeholder="abc@gmail.com"
                      />
                      <div class="error-wrap">
                        <span class="error-text">This field is required</span>
                      </div>
                    </div>
                    <div class="act-btn">
                      <button class="btn btn-outline submitBtn btn-semiBold">
                        Subscribe
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </li>
      </ul>
    </div>
    <div class="bottom-part">
      <!-- <a class="footer-logo">
          <img src="../../../../assets/footerlogo.png" alt="" />
        </a> -->
      <div class="socialLinkSec">
        <div class="content-asset">
          <p class="b-text">© 2024 www.codeokk.com. All rights reserved. This product is solely intellectual property of codeokk (An Alphazed Software group of companies.)
          </p>
        </div>
      </div>
      <div class="follow-us-section">
        <a
          href="https://www.twitter.com/"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img src="../../../../assets/twitter.svg" alt="Twitter" />
        </a>
        <a
          href="https://www.linkedin.com/"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img src="../../../../assets/linkedin.svg" alt="Linkedin" />
        </a>
        <a
          href="https://www.youtube.com/"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img src="../../../../assets/youtube.svg" alt="Youtube" />
        </a>
        <a
          href="https://www.whatsapp.com/"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img src="../../../../assets/whatsapp.svg" alt="Whatsapp" />
        </a>
      </div>
    </div>
  </div>
</footer>
