.footer {
  padding: 80px 112px 60px 112px;
  position: relative;
  background-color: #1e293b;
  align-self: flex-end;
}

.footer .container {
  max-width: 117rem;
  margin: 0 auto;
  padding: 0;
}

.footer ul {
  list-style: none;
  padding-left: 0;
}

ul li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer .container .link-list {
  margin-bottom: 18px;
  position: relative;
}

.link-list .list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.link-list .list .list-item {
  width: 19%;
}

.link-list .list .last-list-item {
  width: 35%;
  margin-top: -11px;
}

.link-list .list .list-item .link-title {
  margin-bottom: 1rem;
  font-size: 20px;
  line-height: 20px;
  color: white;
  position: relative;
  transform: all ease 0.3s;
  font-weight: 600;
}

.link-list .list .list-item .nav-item {
  margin-bottom: 24px;
}

.link-list .list .nav-link {
  font-size: 16px;
  line-height: 16px;
  color: #e4e4e7;
  text-decoration: none;
  cursor: pointer;
  margin-bottom: 24px;
}

.link-list .list .nav-link:hover {
  color: #0066ff;
}

.link-list .last-link-title {
  color: white;
  margin-bottom: 1rem;
  font-size: 24px;
  font-weight: 600;
}

.link-list .list-item .last-link-desc {
  font-size: 16px;
  margin-bottom: 24px;
  color: #e4e4e7;
  line-height: 18px;
}

.signup-form {
  margin-top: 1rem;
}

.form-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.full-width {
  width: 100%;
}

.input-wrap {
  margin-bottom: 1rem;
}

.inputDefault {
  width: 100%;
  background: 0 0;
  border: none;
  outline: none;
  border-bottom: 1px solid #979797;
  padding: 0.6rem 0;
  color: #fff;
  font-size: 16px;
}

.error-wrap {
  text-align: left;
  margin-top: 0.5rem;
  font-size: 16px;
  line-height: 1.2rem;
  color: #a80000;
  padding: 0.5rem 1rem;
  background: #9f9f9f;
  border-radius: 15px;
  font-style: italic;
  display: none;
  position: absolute;
  left: 0;
  bottom: -3rem;
}

.signup-form .act-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn.btn-outline {
  background: 0 0;
  color: #fff;
  opacity: 1;
  border: 1px solid #fff;
  border-radius: 4px;
  padding: 10px 15px;
  font-family: "Barlow", sans-serif;
}

.btn.btn-outline:hover {
  background-color: #0066ff;
  border: none;
  cursor: pointer;
}

.privacyLink {
  color: #fff !important;
  font-size: 16px;
  text-decoration: underline;
  position: relative;
  top: 6px;
}

.bottom-part {
  border-top: 1px solid #979797;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 30px;
}

.footer-logo {
  /* font-size: 40px; */
  width: 10rem;
  height: 8rem;
  color: #fff;
  text-decoration: none;
}

.footer-logo img {
  width: 100%;
  height: 100%;
}

.socialLinkSec {
  margin-left: 10px;
}

.socialIconList {
  display: flex;
  text-align: right;
  padding-left: 6rem;
  padding-bottom: 2rem;
}

.socialIconList .socialLink {
  color: #fff !important;
  font-size: 16px;
}

.b-text {
  margin-top: 7px;
  font-size: 16px;
  color: #fff;
}

.follow-us-section {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.follow-us-section .follow-text {
  /* margin-right: 10px; */
  font-size: 16px;
  color: #fff;
}

.follow-us-section a img {
  width: 24px;
  height: 24px;
  margin-left: 12px;
  margin-top: -5px;
}

@media (max-width: 1272px) {
  .link-list .list {
    justify-content: start;
  }
}

@media (max-width: 1020px) {
  .footer {
    padding: 80px 40px 60px 40px;
  }
}

@media (max-width: 899px) {
  .link-list .list {
    justify-content: center;
  }

  .link-list .list .list-item {
    width: 290px;
  }
}

@media (max-width: 760px) {
  .link-list .list {
    justify-content: start;
  }

  .link-list .list .last-list-item {
    width: 100%;
  }

  .footer {
    padding: 80px 60px 60px 60px;
  }
}

@media (max-width: 683px) {
  .link-list .list .list-item {
    width: 100%;
    /* text-align: center; */
  }

  .link-list .list .last-list-item {
    text-align: start;
  }
}

@media (max-width: 460px) {
  .link-list .list {
    padding: 0 15px;
  }

  .footer {
    padding: 80px 20px 60px 20px;
  }
}
