<div class="cart">
  <div class="cart-container">
    <div class="cart-flex">
      <div class="address">
        <div class="top-section">
          <div class="top-title">
            <p>Select Payment Method</p>
            <button class="address-add">Add Payment Method</button>
          </div>
        </div>
        <div class="address-details">
          <div class="cash-option" (click)="selectCOD()">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              viewBox="0 0 16 16"
              class="address-radioIcon"
            >
              <g fill-rule="evenodd">
                <path
                  d="M8 14.933A6.941 6.941 0 0 1 1.067 8 6.941 6.941 0 0 1 8 1.067 6.941 6.941 0 0 1 14.933 8 6.941 6.941 0 0 1 8 14.933M8 0C3.589 0 0 3.589 0 8s3.589 8 8 8 8-3.589 8-8-3.589-8-8-8"
                ></path>
                <path
                  *ngIf="selectCODOption"
                  d="M8 3.429a4.571 4.571 0 1 0 0 9.143 4.571 4.571 0 0 0 0-9.143"
                ></path>
              </g>
            </svg>
            <span class="cod-text">Cash on Delivery</span>
          </div>
          <div class="add-new">
            <div class="left">
              <span class="material-icons">add</span>
              <div class="new-title">Add Payment Method</div>
            </div>
            <div class="right">
              <span class="material-icons">close</span>
            </div>
          </div>
        </div>
      </div>

      <div class="price-details">
        <div class="price-container">
          <div class="price-header">
            PRICE DETAILS ({{ selectedCount }}
            {{ selectedCount === 1 ? "Item" : "Items" }})
          </div>
          <div class="price-orderSummary">
            <div class="priceDetail">
              <span class=" ">Total MRP</span
              ><span class="priceDetail-base-value"
                ><span></span
                ><span>
                  <span class="">₹</span>{{ totalMRP | number : "1.2-2" }}</span
                ></span
              >
            </div>
            <div class="priceDetail">
              <span class=" ">Discount on MRP</span
              ><span class="priceDetail-base-value priceDetail-base-discount"
                ><span>-</span
                ><span>
                  <span class="">₹</span
                  >{{ totalDiscount | number : "1.2-2" }}</span
                ></span
              >
            </div>
            <div class="priceDetail">
              <span class=" "
                >Platform Fee<span class="priceDetail-base-knowMore"
                  >Know More</span
                ></span
              ><span class="priceDetail-base-value"
                ><span class="priceDetail-base-discount">FREE</span></span
              >
            </div>
            <div class="priceDetail">
              <span
                >Shipping Fee
                <div class="priceDetail-base-infoTextContainer">
                  <button font-weight="bold" role="button" class="css-1pl9bms">
                    <div class="css-xjhrni">Know More</div>
                  </button>
                </div></span
              ><span class="priceDetail-base-value"
                ><span
                  class="priceDetail-base-striked priceDetail-base-spaceRight"
                  ><span>₹79</span></span
                ><span class="priceDetail-base-discount">FREE</span></span
              >
            </div>
            <div class="priceDetail-total">
              <span class=" ">Total Amount</span
              ><span class="priceDetail-base-value"
                ><span></span
                ><span>
                  <span class="priceDetail-base-redesignRupeeTotalIcon">₹</span
                  >{{ totalAmount | number : "1.2-2" }}</span
                ></span
              >
            </div>
          </div>
        </div>
        <div>
          <button
            width="100%"
            letterspacing="1px"
            font-weight="bold"
            role="button"
            class="css-ibwr57"
            (click)="proceedToCheckout()"
          >
            <div class="css-xjhrni">Proceed</div>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
