.login-page {
  top: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: block;
  background-color: #303f9f;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

mat-card {
  /* width: 30%; */
  /* margin: 10% auto; */
  border-radius: 8px;
}
mat-form-field,
mat-checkbox {
  width: 85%;
  display: block;
  margin: auto;
}
mat-card-content {
  margin-top: 20px;
}

.login-button {
  display: block;
  width: 85%;
  margin: 20px auto;
  margin-top: 40px;
  color: #fff !important;
  background-color: var(--dynamic-app-color) !important;
}

::ng-deep .cdk-overlay-pane {
  /* width: 500px; */
  pointer-events: auto;
  box-sizing: border-box;
  z-index: 1000;
  display: flex;
  max-height: 100%;
}

/* ::ng-deep .mat-mdc-form-field-infix.ng-tns-c20-1{
    display: flex !important;
    align-items: center !important;
    flex-wrap: nowrap !important;
  } */

.login-form {
  margin-top: 20px;
}

.country-code {
  padding-left: 12px;
}

.mat-mdc-tab-group {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  margin-top: 10px;
}
.mat-mdc-dialog-actions {
  justify-content: start;
  margin-left: 85%;
}
.mat-mdc-card-title {
  margin-top: 15px;
}

.login-cancel-icon {
  cursor: pointer;
  font-size: 25px;
  position: absolute;
  top: 15px;
  right: 15px;
  color: gray;
}

.countdown-message {
  color: #172b4d;
}

/* #9e9798 */

.resend-link {
  color: #0065ff;
  cursor: pointer;
  text-decoration: underline;
  margin-left: 5px; /* Add margin for spacing */
}

.receive-message {
  width: 85%;
  margin: 0px auto 20px auto;
  display: block;
  color: #9e9798;
  font-weight: 500;
  font-size: 13px;
}

.otp-send-message {
  width: 85%;
  margin: 20px auto 10px auto;
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: center;
  font-weight: 500;
  font-size: 13px;
  color: #008c15;
}

.otp-send-message .material-icons-outlined,
.otp-failure-message .material-icons-outlined {
  font-size: 22px;
}

.otp-failure-message {
  width: 85%;
  margin: -10px auto 10px auto;
  display: block;
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: 500;
  font-size: 13px;
  color: red;
}

.login-logo {
  height: 3rem;
  width: 3rem;
  margin: 30px auto 0 auto;
}

.login-title {
  margin-top: 8px;
  margin-bottom: 15px;
  font-family: "Roboto", sans-serif;
}
